@import "variables";







*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("img/double-bubble-dark.jpg")
   
    
     
}


h1 {
    text-align: center;
    font-size: x-large;
}




//Bucles
@for $i from 1 through 6 {

    h#{$i} {
        font-size: 24em / $i;
    }
}
//Each
$lista-colores: red, green, blue;

@each $color in $lista-colores  {
    .color-#{$color} {
        background-color: $color;
    }
}

// Mapas
$merch: (
    Buzo XL: #0084ff,
    Gorra: #0035ff,
    Remera XL: #dd208b,
);

@each $ropa, $color in $merch {
    .ropa-#{$ropa} {
        color: $color;
    }
} 

//Extend


.shows {  
    @extend .showtable;

    color: rgb(245, 242, 242);

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: 100;

    width: 100%;   
}


.showtable
{
    position: relative;
    left: 45%;
    bottom: 5px;
}

//Mixins

@mixin size {
   height: 5px;
   width: 20px;
   margin: 5px 15px 2px 25px; 
}

div {
    @include size

    
}
.plataformas {
    background-color: rgba(16, 16, 16, 0.433);
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: 100;

    margin: 5px;
    overflow: hidden;

    display: grid;
    grid-gap: 1rem;
}

.merch {

    background-color: rgba(13, 12, 12, 0.4);

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: 100;
   
    // color: white !important;      
}


ul{
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol {
    list-style-type: none;
    list-style: none;
}

.tabs {
    background-color: #f2f2f2dc;
    opacity: 50%;
   
}


footer {
  
    position: sticky;
    height: 100px;
    background-color: rgb(113, 15, 15);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: white;
    font-size: large;
   
}
.spotify
{
    text-align: center;
    position: relative;
   
    width: 100%;
}
navbar {
   display: flex!important;
justify-content: space-around;
flex-basis: auto;

}

.topnav 
{
    background-color: #333;
    overflow: hidden;
}
.topnav a
{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover 
{
    background-color: rgb(113, 15, 15);
    color: rgb(255, 255, 255);
}
.active
{
    background-color: rgb(80, 15, 15);
    color: rgb(255, 255, 255);
}

.home
{
    background-color: rgb(70, 70, 70);
    color: rgb(0, 0, 0);
}